<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>803780061245-b5c3710600cam9dnmo19ges1lri9f1k8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.803780061245-b5c3710600cam9dnmo19ges1lri9f1k8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>803780061245-j2qhlv6g67u2cq56uo9kt0fc4113po6i.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCFcGN3inin0tikODNZzP-Ev0WJXG93tn8</string>
	<key>GCM_SENDER_ID</key>
	<string>803780061245</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gme.classicalbibleartgallery</string>
	<key>PROJECT_ID</key>
	<string>bible-art-wallpaper-hd</string>
	<key>STORAGE_BUCKET</key>
	<string>bible-art-wallpaper-hd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:803780061245:ios:e3a65a1f4587a3523c2254</string>
	<key>DATABASE_URL</key>
	<string>https://bible-art-wallpaper-hd.firebaseio.com</string>
</dict>
</plist>